body {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 30px;
}

#welcome {
    height: 600px;
    background-image: url("photos plages/_DSC6643.jpg");
    background-size: cover;
}

ul {
    list-style-type: none;
    background: rgb(95, 94, 92);
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

ul li a {
    color: rgb(4, 160, 69);
    text-decoration: none;
    padding: 15px;
}

ul li a:hover {
    color: rgb(15, 14, 12);
    background-color: rgb(4, 160, 69);
    border-radius: 4px;
}

h1 {
    font-size: 50px;
    text-shadow: rgb(4, 160, 69);
    text-align: center;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    Color: rgb(19, 17, 17);      
    }   
    
    .flex-container {
        display: flex;
        justify-content: space-between;
        padding: 1em;   
    }
    
    p {
        text-align: justify;
        margin: 10px 50px 20px;
    }
        
        
    